<section class="container align-items-" >
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center my-3">
      <h2>RSVP</h2>
      <p>Please RSVP by November 20, 2022</p>
    </div>
    <div class="col-12" id="rsvpPages">
      <form id="rsvpPassword">
        <p>Enter the wedding password</p>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
  </div>
</section>
